@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1 class="mb-4">Login</h1>

<div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="NombreUsuario" class="form-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button class="btn btn-primary m-1">Iniciar Sesion</button>
            <a class="btn btn-success m-1" asp-action="registro">Crear nueva cuenta</a>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
